@page
@model AutoMart.Pages.About_UsModel
@{
}
<div class="abouthead">
    <h1> About Us</h1>
    <p>We’re FOOLUB and we’re transforming the car buying experience across the world.</p>
</div>
<div class= "aboutbody">
    <article class="mission">
        <h2>Our Mission</h2>
        <p>We want to make buying your next car no different to ordering any other product today. Where consumers can simply and seamlessly buy, finance or subscribe to a car entirely online for delivery or collection in as little as 72 hours.</p>
    </article>
    <article class="missionPhoto">
        <img class="missionp" src="~/img/vlog1.jpg" />
    </article>
</div>
<div class="staff">
    <h2>Our Staff</h2>
    <p>With the mission of creating the ultimate online car buying and selling experience, carwow helps its 12+ million users discover the best new car for them, compare offers and buy directly from trusted dealers.

    </p>
   

</div>
<div class="market">
    <h2>Head of Marketting</h2>
    <p>meet our heads of marketing with 15yrears industry experience. her main goal is to ensure every costumer has the best possible experience with the company.</p> 
</div>
<div class = "spanda">
    <img class ="spand" src="~/img/span.jpg" />
</div>
<div>
    <article class="sale">
    <h2>Head of Sales</h2>
    <p>Aja has been a sales exec for just 5 years but in that space, he has won numerous award both locac and iinternational. he has spareheaded the "best deals" movement to ensure we provide thee cheapers available cars for you</p>
</article>
<article class = "aj">
    <img class = "aja" src="~/img/aja.jpg" />
</article>

</div>
